@CHARSET "ISO-8859-1";
a:link, a:visited, a:hover, a:active {
    color: gray;
}

a {
    border: none 0px;
}

body {
    position: relative;
    min-width: 1000px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 8px;
}

form, div, p, a, h1 {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: gray;
}

h2, h4, h6 {
    text-decoration: underline;
}

div, input, fieldset {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

div#page {
    font-size: 13px;
}

div#banner_ie_limiter {
    width: 1000px;
    height: 0px;
}

div#banner {
    position: relative;
    background-color: white;
}

div#banner_site_name {
    position: absolute;
    bottom: 2px;
    right: 200px;
    color: gray;
    font-size: x-large;
}

#sitename_anchor {
    text-decoration: none;
}

div.info_messages {
    border: #060 1px solid;
    background-color: #EFE;
    padding: 2px;
    margin: 7px;
}

div#login {
    border: #DD0 1px solid;
    background-color: #FFC;
    padding: 2px;
}

div#logo {
    position: absolute;
    background-color: white;
    border: #DD0 1px solid;
    padding: 2px;
    top: -6px;
    right: 0px;
}

img {
    border: 0px;
}

.error {
    color: #F00;
}

.warning {
    color: #AB1;
}

.info {
    color: #008;
}

.quick_accounts_manage {
    padding: 8px;
    margin: 8px;
}

.quick_groups, .quick_accts, .quick_shares {
    border: #DD0 1px solid;
    padding: 8px;
    margin: 8px;
}

.edit_name, .edit_group_name, .acct, .contact {
    background-color: #FFE;
    border: #DD0 1px solid;
    padding: 4px;
    margin: 4px;
}

table.groups, table.owned_accounts, table.shared_accounts {
    border: #CCC 1px solid;
    padding: 4px;
    margin: 4px;
}

td.split_grp_acct_col {
    vertical-align: top;
}

.contact {
    background-color: #f2fff2;
    border: #b8e8b3 1px solid;
    padding: 4px;
    margin: 2px;
    min-width: 10em;
}

.group {
    background-color: #f2f2ff;
    border: #a7a7e4 1px solid;
    padding: 4px;
    margin: 2px;
    min-width: 10em;
}

.account {
    background-color: #FFE;
    border: #DD0 1px solid;
    padding: 4px;
    margin: 2px;
    min-width: 10em;
}

.sub-item {
    margin-left: 1em;
}

#quick_accts_id {
    position: relative;
    border: lightgray 1px solid;
    padding: 8px;
    margin: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#quick_accts_close_id {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

table.txn {
    border: solid #DD0 1px;
}

.txn {
    border-collapse: collapse;
}

.txn_col {
    border-left: dotted black 1px;
    padding: 0px;
}

.txn_actions {
    margin-bottom: 1em;
}

.number {
    text-align: right;
}

.txn_acct_select_even {
	border: 0px hidden;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.txn_acct_select_odd {
	background-color:#eee;
	border: 0px hidden;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
	
tr.txn_row:nth-child(odd) {
	background-color:#eee; 
}

tr#txn_table_1, #new_txn_acct {
	background-color: #FFC;
}

.txn_input {
	border: 0px hidden;
	margin: 0px;
	padding: 0px;
	background-color: rgba(255,255,255,0);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*display:block;
	min-width: 1em;/**/
}

.credit, .debit {
	width: 5em;
}

a.txn_title:link, a.txn_title:visited, a.txn_title:hover, a.txn_title:active {
    color: black;
}

.non_editable {
	color: gray;
}

.txn_banksays_check {
	float: left;
}

/*
 * UI
 */

div.ui-datepicker{
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size:13px;
}

.ui-state-hover {
	border: 3px solid yellow;
}

.ui-state-active {
	border: 3px solid green;
}

.ui-draggable, .ui-draggable-dragging {
	cursor:move;
}

.ui-float-right {
	float:right;
}

.ui-float-left {
	float:left;
}
