ErrorDocument 100 /error.php
ErrorDocument 101 /error.php
ErrorDocument 102 /error.php
ErrorDocument 200 /error.php
ErrorDocument 201 /error.php
ErrorDocument 202 /error.php
ErrorDocument 203 /error.php
ErrorDocument 204 /error.php
ErrorDocument 205 /error.php
ErrorDocument 206 /error.php
ErrorDocument 207 /error.php
ErrorDocument 300 /error.php
ErrorDocument 301 /error.php
ErrorDocument 302 /error.php
ErrorDocument 303 /error.php
ErrorDocument 304 /error.php
ErrorDocument 305 /error.php
ErrorDocument 306 /error.php
ErrorDocument 307 /error.php
ErrorDocument 400 /error.php
ErrorDocument 401 /error.php
ErrorDocument 402 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 405 /error.php
ErrorDocument 406 /error.php
ErrorDocument 407 /error.php
ErrorDocument 408 /error.php
ErrorDocument 409 /error.php
ErrorDocument 410 /error.php
ErrorDocument 411 /error.php
ErrorDocument 412 /error.php
ErrorDocument 413 /error.php
ErrorDocument 414 /error.php
ErrorDocument 415 /error.php
ErrorDocument 416 /error.php
ErrorDocument 417 /error.php
ErrorDocument 418 /error.php
ErrorDocument 419 /error.php
ErrorDocument 420 /error.php
ErrorDocument 421 /error.php
ErrorDocument 422 /error.php
ErrorDocument 423 /error.php
ErrorDocument 424 /error.php
ErrorDocument 425 /error.php
ErrorDocument 426 /error.php
ErrorDocument 500 /error.php
ErrorDocument 501 /error.php
ErrorDocument 502 /error.php
ErrorDocument 503 /error.php
ErrorDocument 504 /error.php
ErrorDocument 505 /error.php
ErrorDocument 506 /error.php
ErrorDocument 507 /error.php
ErrorDocument 508 /error.php
ErrorDocument 509 /error.php
ErrorDocument 510 /error.php
